.main-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8758FF;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.box {
  width: 50%;
  height: 60%;
  background-color: #1E123B;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.pesquisa {
  width: 40%;
  height: 10%;
  border: 2px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 45%;
}

.Tarefa {
  width: 88%;
  height: 35%;
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listatarefas {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}

.caixa-de-selecao {
  height: 60%;
  width: 5%;
  margin-left: 3%;
  border: 2px solid #333;
  appearance: none;
  background-color: #BDA4FF;
  cursor: pointer;
  border-radius: 5px;
}

.caixa-de-selecao.checked {
  background-color: #1E123B;
}

.botao-delete {
  height: 60%;
  width: 35%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.botao-editar {
  height: 60%;
  width: 35%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.campo-de-botao {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 3%;
}

.botao-nova-tarefa {
  width: 10%;
  height: 6%;
  background-color: #6C45CE;
  border: 2px solid white;
  border-radius: 5px;
  margin-left: 40%;
  margin-top: 5px;
}

.ContentModal {
  height: 40%;
  width: 70%;
  border: 2px solid #FCFCFC;
  background-color: transparent;
  border-radius: 5px;
  color: #fcfcfc;
  font-size: 16px;
}

.buttonModal {
  height: 12%;
  width: 35%;
  background-color: #6C45CE;
  border: 2px solid #FCFCFC;
  border-radius: 7px;
  margin-bottom: 3%;
  margin-top: 4%;
}